# .gitignore

# Ignore Python virtual environment
venv/

# Ignore Python compiled and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
build/
dist/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
pip-log.txt
pip-delete-this-directory.txt

# Ignore .env files as they usually contain sensitive information
.env

# Ignore files related to IDEs and text editors
.vscode/
*.swp
*.swo
*.swn
*.bak
