<link rel="stylesheet" href="/styles/forms.css">

<form class="lead-form" id="LEadForm" data-steps="3" method="post"
  action="https://us-central1-kyte-7c484.cloudfunctions.net/send-to-crm">

  <!--REDIRECT URL-->
  <input type="hidden" name="_redir"
    value="https://kyteapp.page.link/?link=https://web.kyteapp.com/login&apn=com.kyte&ibi=com.kytepos&isi=1345983058&pt=120346822&mt=8">

  <!--START OF THE ATTRIBUTION FIELDS-->

  <input type="hidden" name="utm_source" placeholder="UTM Source" required>
  <input type="hidden" name="utm_medium" placeholder="UTM Medium" required>
  <input type="hidden" name="utm_campaign" placeholder="UTM Campaign" required>
  <input type="hidden" name="utm_content" placeholder="UTM Content">
  <input type="hidden" name="utm_term" placeholder="UTM Term">
  <input type="hidden" name="cid" placeholder="CID">
  <input type="hidden" name="fbclid" placeholder="FBCLID">
  <input type="hidden" name="gclid" placeholder="GCLID">
  <input type="hidden" name="ttclid" placeholder="TTCLID">
  <input type="hidden" name="ref" placeholder="Ref">
  <input type="hidden" name="referrer" placeholder="Referrer">
  <input type="hidden" name="campaignid" placeholder="Campaign ID">
  <input type="hidden" name="adgroupid" placeholder="Ad Group ID">
  <input type="hidden" name="keyword" placeholder="Keyword">
  <input type="hidden" name="gadid" placeholder="GADID">
  <input type="hidden" name="fbadid" placeholder="FBADID">
  <input type="hidden" name="ttadid" placeholder="TTADID">
  <input type="hidden" name="formTitle" placeholder="sell-in-person-pt" required>

  <!--END OF THE ATTRIBUTION FIELDS-->

  <!--START OF FORM ITEMS-->
  <div class="step step1">
    <input name="email" type="email" class="field full-width" placeholder="Meu e-mail é..." required />
  </div>
  <div class="step step2">
    <select name="30dayssalesrange" class="field full-width" required>
      <option value="" disabled selected>Em média, quantos pedidos você recebe por mês?</option>
      <option id="group0" value="no-sales">Ainda não estou vendendo</option>
      <option id="group1" value="30-sales">Entre 1 e 30 pedidos</option>
      <option id="group2" value="200-sales">Entre 31 e 200 pedidos</option>
      <option id="group3" value="200plus-sales">Mais de 200 pedidos</option>
    </select>
  </div>

  <div class="step step3">
    <label>
      <input name="opt-in" type="checkbox" class="fields" required>
      Concordo com os <a href="https://www.kyte.com.br/termos-de-uso" target="_blank">Termos de Uso</a> e em receber
      conteúdos de marketing (que posso cancelar a qualquer momento).
    </label>
  </div>

  <div class="navigation">
    <a class="btn btn-prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z" />
        <path
          d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z" />
      </svg>
    </a>
    <a class="btn btn-next full-width">Continuar</a>
    <button class="btn btn-submit full-width">Explorar Kyte</button>
  </div>
</form>
<!--END OF FORM ITEMS-->

<script src="/scripts/multi-step-form.js"></script>