{% extends ":"~template~":base.html.twig" %}

{% block content %}
<main data-section-wrapper="1">
        <div data-section="1">
            <div data-slot="text">
                <h1>Hello World!</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia consequatur placeat
                reprehenderit excepturi, tempore,
                id quos quaerat ab fuga.
                <br />
                <br /> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Inventore, voluptate.
                <br />
                <br /> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dignissimos alias rerum nemo ducimus modi perspiciatis.
            </div>
        </div>
    </main>
{% endblock %}
